body {
    font-family: 'inconsolata';
}
.main {
    display: flex;
}
.content {
    flex: 1;
}
.navigation {
    width: 250px;
}
h2 {
    color: #9e9e9e;
}
h3 {
    color: #3f51b5;
}
ul {
  list-style-type: none;
}
